
<div fullscreen>
<h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required placeholder="Enter Username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required placeholder="Enter Password"/>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
<p>Don't have account yet? <a routerLink="/signup">Sign Up</a></p>
</div>