<mat-card class="example-card">
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <p>
                <label for="id">Hotel ID </label>
                &nbsp;
                <input type="number" id="id" name="id" ngModel>
            </p>
            <p>
                <label for="user_id">User ID</label>
                &nbsp;
                <input type="number" id="user_id" name="user_id" ngModel>
            </p>
            <p>
                <label for="booking_date">Booking Date</label>
                &nbsp;
                <input type="text" id="booking_date" name="booking_date" ngModel>
            </p>
            <p>
                <label for="booking_start">Booking Start Date</label>
                &nbsp;
                <input type="text" id="booking_start" name="booking_start" ngModel>
            </p>
            <p>
                <label for="booking_end">Booking End Date</label>
                &nbsp;
                <input type="text" id="booking_end" name="booking_end" ngModel>
            </p>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Book</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>