<p>home works!</p>
<app-navbar></app-navbar>
<div fxLayoutAlign="center center" fxLayout="column">
<h1>Listings</h1>
<div *ngFor="let listing of listings">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{listing.listing_title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Listing ID: {{listing.listing_id}}</p>
            <p>Description: {{listing.description}}</p>
            <p>Street: {{listing.street}}</p>
            <p>City: {{listing.city}}</p>
            <p>Postal Code: {{listing.postal_code}}</p>
            <p>Price: {{listing.price}}</p>
            <p>Email: {{listing.email}}</p>
            <p>Username: {{listing.username}}</p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center" fxLayout="column">
            <button *ngIf="loggedIn" mat-raised-button color="primary" routerLink="/booklisting/{{listing.listing_id}}">Book</button>
            <button *ngIf="!loggedIn" mat-raised-button color="primary" routerLink="/login">Log In To Book</button>
        </mat-card-actions>
    </mat-card>
<br/>
</div>
</div>